<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div>
        <h1>Lista de Clientes</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>idCliente</th>
                    <th>login</th>
                    <th>tipoCliente</th>
                    <th>estado</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.login}"></td>
                    <td th:text="${cliente.tipo}"></td>
                    <td th:text="${cliente.estado}"></td>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-4">
            <a th:href="@{/clientes/new}" class="btn btn-primary">Agregar nuevo cliente</a>
            <a th:href="@{/}" class="btn btn-primary">Volver al inicio</a>
        </div>
        
    </div>
</body>
</html>
