<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div>
        <h1>Lista de Clientes</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>idCliente</th>
                    <th>login</th>
                    <th>tipoCliente</th>
                    <th>estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.login}"></td>
                    <td th:text="${cliente.tipo}"></td>
                    <td th:text="${cliente.estado}"></td>
                    <td>
                        <a th:href="@{/clientes/{id}/edit(id=${cliente.id})}"
                           onclick="return confirm('¿Estás seguro de borrar este cliente?')">
                            Editar
                        </a>
                        <a href="@{/clientes/{id}/delete(id=${cliente.id})}">
                            Borrar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver atrás</a>
        </div>
    </div>
</body>
</html>
