<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Oficina</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <br>
    <form th:action="@{/empleados/new/save}" method="post">
        <div th:replace="fragments/empleadoForm :: empleadoForm(titulo='Crear Nuevo Empleado', empleado=${empleado})">
        </div>
    </form>
</body>
</html>
