<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <h1>Error</h1>
        <p>Ocurrió un error al procesar la solicitud. Se hizo rollback.</p>
        <div class="mt-4">
            <a th:href="@{/}" class="btn btn-primary">Volver al inicio</a>
        </div>
    </div>
   
</body>
</html>
