<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOG IN BancAndes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="container mx-auto w-50"> <!-- Ajustado el ancho para mejor visualización -->
        <h1 class="text-center my-3">LOG IN BancAndes</h1> <!-- Agregado centrado y margen -->
        <img th:src="@{/images/logo.png}" class="d-block mx-auto" width="250" alt="BancAndes Logo"/> <!-- Centrado de imagen -->

        <!-- Navegación Principal -->
        <div class="d-flex flex-wrap justify-content-center"> <!-- Flexbox para mejor disposición de los botones -->
            <a th:href="@{/clientes/menu}" class="btn btn-secondary">Clientes</a>
            <div></div>
            <br>
            <a th:href="@{/empleados/menu}" class="btn btn-secondary">Empleados</a>
        </div>
    </div>
</body>
</html>
