<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de OBCs</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="container mt-4">
    <div class ="text-center">
        <h1>Lista de OBCs</h1>
        <b>
        <br>

        <div class="card mb-5" style="width: 18rem; margin: auto; display: flex; justify-content: center; align-items: center;">
           
            <div class="card-header">
                Buscar OBC por ID de cuenta
            </div>
            <div class="card-body">
                <form th:action="@{/obcs/iso}" method="get">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="tipo"></label>
                                <input type="text" class="form-control" id="id" name="id" placeholder="Ingrese el id ">
                            </div>
                        </div>
                    </div>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>

    </b>

        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Valor</th>
                    <th>Tipo</th>
                    <th>Cuenta</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="obc : ${obcs}">
                    <td th:text="${obc.id}"></td>
                    <td th:text="${obc.fecha}"></td>
                    <td th:text="${obc.valor}"></td>
                    <td th:text="${obc.tipo}"></td>
                    <td th:text="${obc.id_cuenta.numero}"></td>
                </tr>
            </tbody>
        </table>
        <div class="mt-4">
            <a th:href="@{/obcs/new}" class="btn btn-primary">Retirar / Consignar</a>
            <a th:href="@{/}" class="btn btn-primary">Volver al inicio</a>
        </div>
    </div>  
    
</body>
</html>
