<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puntox de Atencion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="container mt-4">
        <h1>Puntos Atencion</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>ID Oficina</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pa : ${pas}">
                    <td th:text="${pa.id}"></td>
                    <td th:text="${pa.tipo}"></td>
                    <td th:text="${pa.id_oficina.id}"></td>
                    <td>
                        <a th:href="@{pas/{id}/delete(id=${pa.id})}">Borrar</a>
                    </td>
                    

                </tr>
            </tbody>
        </table>
        <div class="mt-4">
            <a th:href="@{/pas/new}" class="btn btn-primary">nuevo Punto de atencion</a>
            <a th:href="@{/}" class="btn btn-primary">Volver al inicio</a>
        </div>
    </div>
</body>
</html>
